.event-content{
    width: 100%;
    height: 10rem;
    display:flex;
    flex-direction: row;
    background-color:$dark-grey;
    border-radius:10px;
    overflow: hidden;

    .event-date{
        width: 25%;
        height:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        background-color: darken($color: $dark-grey, $amount: 3);
        h1{
            font-size: 4rem;
        }
        h2{
            font-size: 1.5rem;
        }
    }
    .event-cont{
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
